<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans default-autowire="autodetect">
            
    <!-- daos -->
    <bean id="usuarioDao" class="br.com.fastorder.dao.hibernate.HibernateUsuarioDao" scope="prototype">
    	<constructor-arg ref="sessionFactory" />
    </bean>
        
    <bean id="contaDao" class="br.com.fastorder.dao.hibernate.HibernateContaDao" scope="prototype">
    	<constructor-arg ref="sessionFactory" />
    </bean>
    
    <bean id="mesaDao" class="br.com.fastorder.dao.hibernate.HibernateMesaDao" scope="prototype">
    	<constructor-arg ref="sessionFactory" />
    </bean>
    
    <bean id="pedidoDao" class="br.com.fastorder.dao.hibernate.HibernatePedidoDao" scope="prototype">
    	<constructor-arg ref="sessionFactory" />
    </bean>
    
    <bean id="produtoDao" class="br.com.fastorder.dao.hibernate.HibernateProdutoDao" scope="prototype">
    	<constructor-arg ref="sessionFactory" />
    </bean>
    
    <bean id="tipoProdutoDao" class="br.com.fastorder.dao.hibernate.HibernateTipoProdutoDao" scope="prototype">
    	<constructor-arg ref="sessionFactory" />
    </bean>   
        
</beans>
