<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans default-autowire="autodetect">

	<!-- manager's -->
    <bean id="contaManager" class="br.com.fastorder.facade.ContaManager" scope="prototype" />	
    
	<!--  actions -->
    <bean id="usuarioAction" class="br.com.fastorder.action.UsuarioAction" scope="prototype" />	
	
    <bean id="tipoProdutoAction" class="br.com.fastorder.action.TipoProdutoAction" scope="prototype" />

    <bean id="mesaAction" class="br.com.fastorder.action.MesaAction"  scope="prototype" />
    
    <bean id="produtoAction" class="br.com.fastorder.action.ProdutoAction" scope="prototype" />    

    <bean id="contaAction" class="br.com.fastorder.action.ContaAction" scope="prototype" />
        
</beans>
