<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="autodetect">

	<!--  actions -->
    <bean id="usuarioAction" class="br.com.fastorder.action.UsuarioAction" singleton="false" />	
	
    <bean id="tipoProdutoAction" class="br.com.fastorder.action.TipoProdutoAction" singleton="false" />
    
    <bean id="produtoAction" class="br.com.fastorder.action.ProdutoAction" singleton="false" />    

    <!-- hibernate session -->
    <bean id="sessionFactory" class="br.com.fastorder.hibernate.HibernateSessionFactory" singleton="false" />
    
    <bean id="session" class="org.hibernate.Session" factory-bean="sessionFactory" factory-method="getSession" singleton="false" />
    
    <!-- dao -->
    <bean id="usuarioDao" class="br.com.fastorder.dao.hibernate.HibernateUsuarioDao" singleton="false">
    	<constructor-arg ref="session" />
    </bean>
        
    <bean id="contaDao" class="br.com.fastorder.dao.hibernate.HibernateContaDao" singleton="false">
    	<constructor-arg ref="session" />
    </bean>
    
    <bean id="mesaDao" class="br.com.fastorder.dao.hibernate.HibernateMesaDao" singleton="false">
    	<constructor-arg ref="session" />
    </bean>
    
    <bean id="pedidoDao" class="br.com.fastorder.dao.hibernate.HibernatePedidoDao" singleton="false">
    	<constructor-arg ref="session" />
    </bean>
    
    <bean id="produtoDao" class="br.com.fastorder.dao.hibernate.HibernateProdutoDao" singleton="false">
    	<constructor-arg ref="session" />
    </bean>
    
    <bean id="tipoProdutoDao" class="br.com.fastorder.dao.hibernate.HibernateTipoProdutoDao" singleton="false">
    	<constructor-arg ref="session" />
    </bean>               
        
</beans>
